/* cosmetic and focus tweaks for yt */
/* credit to various userstyles makers for some pieces of this */

#content.style-scope.ytd-rich-section-renderer {
  display: none !important;
}
/**/
/* grid view */
/* #items.ytd-grid-renderer>ytd-grid-video-renderer:has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]) { */
/*   display: none !important; */
/* } */
/**/
/* /* list view */ */
/* ytd-item-section-renderer:not(:has(ytd-grid-renderer)):has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]) { */
/*   display: none !important;  */
/* } */

/* #secondary { */
/*   display: none !important; */
/* } */

/* make video fill the remaining space */
#primary {
    width: 100% !important;
    flex: 1 !important;
    max-width: none !important;
}

/* hide yt top bar */
/* .ytd-masthead { */
/*   margin: 0 !important; */
/*   display: none !important; */
/* } */
