@import "./rose-pine.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FiraCode Nerd Font, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
}

#workspaces button {
  color: @muted;
}

#workspaces button.active {
  color: @text;
}

#workspaces button:hover {
  border: none;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray {
  padding: 0 7px 0 7px;
}

#clock {
  color: @gold;
  padding: 0 7px 0 7px;
  margin-left: 5px;
}

#pulseaudio {
  color: @love;
}

#cpu {
  color: @gold;
}

#memory {
  color: @iris;
}

#temperature {
  color: @rose;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child {
  margin-left: 5px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child {
  margin-right: 10px;
}

#battery {
  color: @pine;
}

@keyframes blink {
    to {
        background-color: none;
        color: @pine;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @love;
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: @love;
}

#temperature.critical {
  background-color: @love;
}

#custom-power {
  margin-right: 10px;
}

